main{
    .title{
        font-family: 'Yeseva One', cursive;
        font-size: 80px;
    }
    .lead{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: rgb(170, 170, 170);
    }
}