nav{ 
    .logo{
    width: 150px;
    
}
.nav-link{
    font-weight: 500;
    margin-right: 15px;
}

}
button{
    background: linear-gradient(90deg, rgba(26,213,190,1) 0%, rgba(10,179,229,1) 100%);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px 00px ;
}